<%%= form_for([@client, @<%= singular_name %>], html: {"data-load" => "#<%= plural_name %>", class: "form-horizontal"}) do |f| %>

  <%%= f.error_messages %>
  
<%- for attribute in model_attributes -%>
  <%- if([:radio_button, :check_box].include?(attribute.field_type)) -%>
  <div class="control-group">
    <%%= label_tag nil, "<%= attribute.name.capitalize %>?", class: "control-label" %>
    <div class="controls">
      <%%= f.label :<%= attribute.name %>_true, class: "radio inline" do %>
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :true %> Yes
      <%% end %>
      <%%= f.label :<%= attribute.name %>_false, class: "radio inline" do %>
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :false %> No
      <%% end %>
    </div>
  </div>

  <%- elsif([:check_box].include?(attribute.field_type)) -%>
  <div class="control-group">
    <%%= label_tag nil, "<%= attribute.name %>", class: "control-label" %>
    <div class="controls">
      <%%= f.label :<%= attribute.name %>_one, class: "checkbox inline" do %>
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :one %> One
      <%% end %>
      <%%= f.label :<%= attribute.name %>_two, class: "checkbox inline" do %>
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :two %> Two
      <%% end %>
      <%%= f.label :<%= attribute.name %>_three, class: "checkbox inline" do %>
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :three %> Three
      <%% end %>
    </div>
  </div>

  <%- else -%>
  <div class="control-group">
    <%%= f.label :<%= attribute.name %>, class: "control-label" %>
    <div class="controls">
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    </div>
  </div>

  <%- end -%>
<%- end -%>
  <div class="actions">
    <div class="controls">
      <%%= f.submit nil, class: "btn" %>
    </div>
  </div>

<%% end %>

<script type="text/javascript">
  <%= singular_name %>_patch.bloom("form");
</script>
  
