<%% title "<%= plural_name.titleize %>" %>

<table class="table table-striped">
  <tr>
  <%- for attribute in model_attributes -%>
    <th><%= attribute.human_name.titleize %></th>
  <%- end -%>
    <th></th>
  </tr>

  <%% <%= singular_name %>_patch = plant_weed_patch("<%= plural_name %>", [@client, :<%= singular_name %>]) %>
  <%% for <%= instance_name %> in @<%= instances_name %> %>
    <tr>
    <%- for attribute in model_attributes -%>
      <td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
    <%- end -%>
      <td>
        <ul class="wp-actions-list">
    <%- if action? :show -%>
          <li><%%= link_to_iconable 'Show', [<%= nested_route_model_name_list %><%= singular_name %>], class: "show-item" %></li>
    <%- end -%>
    <%- if action? :edit -%>
          <li><%%= link_to_iconable 'Edit', [:edit, <%= nested_route_model_name_list %><%= singular_name %>], class: "edit-item" %></li>
    <%- end -%>
    <%- if action? :destroy -%>
          <li><%%= link_to_iconable 'Destroy', [<%= nested_route_model_name_list %><%= singular_name %>], class: "destroy-item", method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <%- end -%>
        </ul>
      </td>
    </tr>
  <%% end %>
</table>

<%- if action? :new -%>
<ul class="wp-actions-list">
  <%%= link_to_iconable 'Add <%= singular_name.titleize %>', [:new, <%= nested_route_model_name_list %>:<%= singular_name%>], class: "new-item show-text" %>
</ul>
<%- end -%>

<script type="text/javascript">
  <%= singular_name %>_patch.bloom("index");
</script>
